/* 示例样式 */
.tip {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
  }
   
  .tip-content {
    padding-left: 10px;
    padding-right: 10px;
  }